$clr-white: 0 0% 100%;
$clr-light-grey: 212 45% 89%;
$clr-greyish-blue: 220 15% 55%;
$clr-dark-blue: 218 44% 22%;

$ff-default: Outfit, 'sans-serif';

$fw-400: 400;
$fw-700: 700;

$fs-400: 0.969rem;
$fs-600: 1.4rem;